<ion-view view-title="Add Money">
<ion-content class="padding">

<div class="card">
<button class="button button-block button-energized">€ 10.00</button>
</div>
<div class="card">
<button class="button button-block button-energized">€ 20.00</button>
</div>
<div class="card">
<button class="button button-block button-energized">€ 50.00</button>
</div>
<div class="card">
<button class="button button-block button-energized">€ 100.00</button>
</div>
<div class="card">
<button class="button button-block button-energized">€ 150.00</button>
</div>
<div class="card">
<button class="button button-block button-energized">€ 100.00</button>
</div>

</ion-content>
</ion-view>
