<ion-view view-title="{{'contacts' | translate}}">
  <ion-content>
<div class="bootstrap-iso">
<div class="panel panel-default">
  <div class="panel-heading">{{"companyinfo" | translate}}: BILLI VBVA</div>
  <div class="panel-body">
  Vrijheidweg 4<br>
  3700 Tongeren<br>
  BTW: BE0820.716.307<br>
  IBAN: BE 74 3630 6068 9607<br>
  BIC: BBRUBEBB<br>
  Email: info@billi.be
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Maps</div>
 <div id="map" data-tap-disabled="true"></div>
   </div>

 
<div class="panel panel-default">
  <div class="panel-heading">{{"contactnumber" | translate}}</div>
  <div class="panel-body">
   
   <ul class="list-group">
  <li class="list-group-item">
    <span class="pull-right"><a href="tel:+3222900900">022 900 900</a></span>
    Sales Department
  </li>
  <li class="list-group-item">
    <span class="pull-right"><a href="tel:+3222900900">022 900 900</a></span>
    Finance Deparment
  </li>
  <li class="list-group-item">
    <span class="pull-right"><a href="tel:+3222900900">022 900 900</a></span>
    Technical Support
  </li>

    <li class="list-group-item">
    <span class="pull-right"><a href="tel:+3222900900">032 172 195</a></span>
    Installation Appointment
  </li>

    <li class="list-group-item">
    <span class="pull-right"><a href="tel:+3222900900">012 77 00 33</a></span>
    Development 
  </li>
</ul>
  </div>
</div>

</div>
  </ion-content>
</ion-view>