    <ion-view view-title="{{'payonline' | translate}}">     
    <ion-content>

<div class="row responsive-sm">
<div class="col text-center">  <a ng-click="openExternal('sisowmc')">
			<img  width="100" src="img/bc.png" alt="Pay with Bancontact" title="Pay with Bancontact"></a></div>
  <div class="col  text-center">  <a ng-click="openExternal('sisowcc')">
			<img  width="100" src="img/vc.png" alt="Pay with Visa" title="Pay with Visa"></a></div>
  <div class="col  text-center">  <a ng-click="openExternal('sisowcc')">
			<img  width="100" src="img/mc.png" alt="Pay with Mastercard" title="Pay with Mastercard"></a></div>
  <div class="col text-center">  <a ng-click="openExternal('paypal')">
			<img  width="100" src="img/paypal.png" alt="Pay with Paypal" title="Pay with Paypal"></a></div>

</div>



    </ion-content>
    </ion-view>