    <ion-view view-title="{{'payonline' | translate}}">     
    <ion-content>
 <div class="row row-center">
      <div class="col col-center">
       <a ng-click="openExternal('sisowmc')" class="button button-block button-clear">
			<img  width="100" src="img/mistercash.jpeg" height="40" alt="Pay with Bancontact" title="Pay with Bancontact"></a>
      </div>
    </div>
    <div class="row">
      <div class="col">
       
          <a ng-click="openExternal('sisowcc')" class="button button-block button-clear">
			<img  width="100" src="img/visamastercard.png" height="40" alt="Pay with Visa" title="Pay with Visa"></a>
   
      </div>
    </div>
	 <div class="row">
      <div class="col col-center">
       
         <a ng-click="openExternal('paypal')">
			<img  width="100" src="img/paypalme.png" height="40" alt="Pay with Paypal" title="Pay with Paypal"></a>
   
      </div>
    </div>
	

    </ion-content>
    </ion-view>